.app {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fbf5ef;
    color: #3d1500;
}

.menu {
    background-color: #000;
}

.editor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.no-overflow {
    overflow: hidden hidden !important;
}

.editor-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    overflow: hidden auto;
    max-height: calc(100vh - 52px);
    max-width: 50vw;
    background-size: cover;
}

.editor-col .CodeMirror {
    overflow: hidden;
    height: calc(100vh - 52px);
    width: 100%;
}

.preview-col {
    padding: 20px;
}

.preview-content {
    padding: 10px;
    background-color: rgba(255,255,255,0.35);
}

button:focus, a:focus { outline:0; }

@font-face {
    font-family: 'Press Start 2P';
    src: local('Press Start 2P'), url(./fonts/PressStart2P-Regular.ttf) format('woff');
}

html, body, pre, code, kbd, samp {
    font-family: 'Flashback',  'Press Start 2P';
    -webkit-font-smoothing: none !important;
    font-size: 20px;
}


link > div > p{
    color: black;
}

.btn-center{
    align-self:center;
}
.nes-input{
    margin-bottom: 30px;
}
.nes-select{
    margin-bottom: 30px;
}
.checkbox{
    margin-bottom: 30px;
}
.nes-btn{
    margin-right: 10px;
}
.main-btn{
    margin-top: 30px;
}


/*
 * Custom scrollbars
 */

 /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
